.videoCard {
    width: 280px;
    margin-bottom: 20px;
    background-color: beige;
  }
  
  .videoCard__thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .videoCard__info {
    padding: 10px;
  }


  